.createAccount {
    display: inline-flex;
    background-color: primary;
}

nav {
    display: flex;
    justify-content: start;
    padding-left: 50px;
    padding-right: 50px;
}

.viewAll {
    margin-right: 15px;
}