<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <!-- <a class="navbar-brand" href="">NavBar</a> -->
    <button (click)="toggle('main')" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " [ngClass]="{show:this.main}">
        <ul class="navbar-nav mr-auto" *ngFor="let link of links;">
            <li class="nav-item text-right">
                <a class="nav-link" [routerLink]=link.path>{{link.title}}</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Keyword" aria-label="Search">
            <button class="btn btn-outline-accent my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!-- <a [routerLink]="home">link to home</a> -->
    </div>
</nav>