<!-- NAV BAR -->
<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-primary">
  <!-- NAV BAR PROPERTIES -->

  <!-- <div class="collapse navbar-collapse"> -->
  <button (click)="toggle('main')" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- NAV BAR ngFor LINKS -->
  <div class="collapse navbar-collapse" [ngClass]="{ show: this.main }">
    <ul class="navbar-nav mr-auto" *ngFor="let link of links">
      <li class="nav-item text-right">
        <a
          class="nav-link text-dark font-weight-normal font-size-sm"
          [routerLink]="link.path"
          >{{ link.title }}</a
        >
      </li>
    </ul>
  </div>

  <a class="btn viewAll" [routerLink]="['/posts']">
    View All Posts
  </a>

  <!-- DROP DOWN NAV LIST FOR "CONTRIBUTORS" -->
  <div class="nav-item dropdown">
    <button class="nav-link dropdown-toggle btn" (click)="toggle('dropDown2')">
      Contributors
    </button>
    <div
      class="dropdown-menu"
      [ngClass]="{ show: this.dropDown2 }"
      (mouseleave)="this.dropDown2 = false"
    >
      <a class="dropdown-item" [routerLink]="['/contributor']"
        >Meet the Contributors</a
      >
      <a
        *ngFor="let contrib of contribs"
        class="dropdown-item"
        [routerLink]="['/contributor-profile', contrib.id]"
        >Meet {{ contrib.firstName }}</a
      >
      <div class="dropdown-divider"></div>
      <a *ngIf="user != null"
        class="dropdown-item"
        [routerLink]="['/contact-us']"
        >Contact Us</a>

      <div class="dropdown-divider"></div>
      <a *ngIf="user != null && user.isAdmin"
        class="dropdown-item"
        [routerLink]="['/admin']"
        >Admin Only</a>
    </div>
  </div>

  <!-- CREATE-ACCOUNT & LOG-IN NAV TURNS OFF WHEN USER IS LOGGED IN -->
  <div *ngIf="user == null" class="createAccount">
    <a class="btn" [routerLink]="['/create-account']">
      Create Account
    </a>
    <a class="btn" [routerLink]="['/sign-in']">
      Log In
    </a>
  </div>

  <!-- DROP DOWN NAV LIST FOR "USERS" -->
  <div *ngIf="user != null" class="nav-item dropdown">
    <button class="nav-link dropdown-toggle btn" (click)="toggle('dropDown3')">
      Hello {{ user.firstName }}
    </button>
    <div
      class="dropdown-menu"
      [ngClass]="{ show: this.dropDown3 }"
      (mouseleave)="this.dropDown3 = false"
    >
      <a class="dropdown-item" [routerLink]="['/user-profile/', user.id]"
        >User Profile</a
      >
      <a class="dropdown-item" [routerLink]="['/contact-us']"
        >Submit A Blog Request</a
      >
      <div class="dropdown-divider"></div>
      <button (click)="logout()" class="dropdown-item">Log Out</button>
    </div>
  </div>  
</nav>
