<!--THIS COMPONENT IS WHERE ADMINS CAN EDIT THEIR PROFILE-->
<div class="container">
  <h3>Update My Profile</h3>
  <form #f="ngForm" (ngSubmit)="saveAdmin(f)">
    <!--FIRST NAME-->
    <div>
      <label for="firstName">
        <strong>
          First Name
        </strong>
      </label>
      <input class="form-control col-4" id="Title" type="text" name="Title" required [(ngModel)]="editPost.title">
    </div>
    <!--LAST NAME-->
    <div>
      <div>
        <label for="lastName">
          <strong>
            Last Name
          </strong>
        </label>
        <input class="form-control col-4" id="Title" type="text" name="Title" required [(ngModel)]="editPost.title">
      </div>
      <!--BIO-->
      <div>
        <label for="bio">
          <strong>
            Bio
          </strong>
        </label>
        <textarea class="form-control" cols="20" rows="5" id="bio" type="text" name="bio"
          [(ngModel)]="editPost.body">{{editPost.body}}</textarea>
      </div>
      <button class="button btn-primary" type="submit">Save Changes</button>
      <button [routerLink]="['/admin']" class="btn btn-danger">Cancel Changes</button>
    </div>
