<section>
    <h1>Users List</h1>
    <div *ngIf="true" class="container">
        <div class="Users" *ngFor="let User of Users; index as i">
          <h5 class="user">{{ User.firstName }} {{ User.lastName }}</h5>
          <div class="d-flex justify-content-center">
            <p class="email"><strong> Email: </strong>{{ User.email }} </p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="lastActive"><strong> Last Active: </strong>{{ User.lastActive }}</p>
          </div>
          <div>
              <button (click)="deleteUser(User.id)"class="btn btn-danger"> Delete</button>
          </div>
        </div>
    </div>
</section>
