<section>
  <h1>All Blog Posts</h1>
  <div *ngIf="true" class="container">
    <div class="Posts" *ngFor="let Post of posts; index as i">
      <h3 class="postTitle">{{ Post.title }}</h3>
      <p class="text-center text-white">
        {{ Post.author.firstName }} {{ Post.author.lastName }}
        {{ Post.published }}
      </p>
      <div class="d-flex justify-content-center">
        <button
          class="tablinks btn btn-primary btn-sm"
          (click)="setSelector(i)"
        >
          See Post Preview
        </button>
      </div>
      
      <p class="postBody" [ngClass]="{ collapse: this.selector != i }">
        <button class="btn btn-primary btn-md close" (click)="setSelector(-1)">
          <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{ Post.title }}</strong>
        <br />
        {{ Post.preview }}

        <button
          [routerLink]="['/post-detail', Post.id]"
          class="btn-sm bg-primary text-white btn"
        >
          Read Full Blog Post & Comments
        </button>

        <!--<app-post-detail></app-post-detail>-->
      </p>
      <!--<post-detail></post-detail>-->
    </div>
  </div>
</section>
