<section>
  <h3>All Blog Posts</h3>



  <!--READ MORE OF JACOB'S FIRST BLOG POST-->

  <div class="Posts" *ngFor="let Post of Posts; index as i">
    <h5 class="postTitle">{{Post.Title}}</h5>
    <button class="tablinks" (click)="setSelector(i)">Read More</button>
    <p class="postBody" [ngClass]="{'collapse':this.selector != i}">
      {{Post.Body}}
    </p>
  </div>
  <!--JACKIE'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
            <h5 [ngStyle]="contributor.color" class="text-best-color border">This is {{contributor.name}}'s first Blog post.</h5>
            <p>{{contributor.post}}</p>
            <button class="tablinks" (click)="setSelector(1)">Read More</button>
        </div>
      </div>
      <br>
    -->
  <!--READ MORE OF JACKIE'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
  <div id="readmore" [ngClass]="{'d-none':this.selector != 1}">
      <h5>{{contributor.postTitle}}</h5>
      <p>{{contributor.postContent}}</p>
    </div>


      <!--KAYLA'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
            <h5 [ngStyle]="contributor.color" class="text-best-color border">This is {{contributor.name}}'s first Blog post.</h5>
            <p>{{contributor.post}}</p>
            <button class="tablinks" (click)="setSelector(1)">Read More</button>
        </div>
      </div>
      <br>
-->
  <!--READ MORE OF KAYLA'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
<div id="readmore" [ngClass]="{'d-none':this.selector != 1}">
    <h5>{{contributor.postTitle}}</h5>
    <p>{{contributor.postContent}}</p>
  </div>

      <!--KAMYLA'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
            <h5 [ngStyle]="contributor.color" class="text-best-color border">This is {{contributor.name}}'s first Blog post.</h5>
            <p>{{contributor.post}}</p>
            <button class="tablinks" (click)="setSelector(1)">Read More</button>
        </div>
      </div>

      <!--READ MORE OF KAMYLA'S FIRST BLOG POST-->
  <!--COME BACK TO THIS
  <div id="readmore" [ngClass]="{'d-none':this.selector != 1}">
      <h5>{{contributor.postTitle}}</h5>
      <p>{{contributor.postContent}}</p>
    </div>


    </section>
  -->