section {
  background-image: url("../../../assets/images/Abstract\ Painting.jpg");
  background-size: cover;
  padding-bottom: 100px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

.container {
  background-color: whitesmoke;
    opacity: 0.75;
    border-radius: 10px 70px;
    padding: 20px 50px;
    padding-bottom: 50px;
}

row {
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
  padding: 10px;

}

h3 {
  font-style: italic;
  color: black;
  padding-top: 15px;
}

.postTitle {
  text-align: center;
}

.title {
  padding-bottom: 20px;
}

.postBody {
  background-color: rgb(192, 190, 97);
  opacity: 0.8;
  padding: 20px;
}

.show {
  margin-top: 7px;
}
