//TODO Need to change color to anchor tag to match theme colors


h3 {
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
}

//Delete button
button {
  margin-right: 5px;
}


li {
  margin: 50px 150px;
}

