<button (click)="addMessage('hello')" class="w-100 bg-danger color-white">
  <h1 class="text-white">add message</h1>
</button>
<gmap></gmap>
<div class="container-fluid">
  <div class="row">
    <button (click)="test()" class="w-100 bg-danger color-white">
      <h1 class="text-white">test</h1>
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Brand</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href=""
                >Link <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                >Dropdown link</a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="">Another action</a>
                <a class="dropdown-item" href="">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item active">
              <a class="nav-link" href=""
                >Link <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                >Dropdown link</a
              >
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="">Action</a>
                <a class="dropdown-item" href="">Another action</a>
                <a class="dropdown-item" href="">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Separated link</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron">
        <h2>
          Hello, world!
        </h2>
        <p>
          This is a template for a simple marketing or informational website. It
          includes a large callout called the hero unit and three supporting
          pieces of content. Use it as a starting point to create something more
          unique.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="">Learn more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
        ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
        justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
        ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
        justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Heading
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
        ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
        justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="">View details »</a>
      </p>
    </div>
  </div>
  you can use to build pages<br />
  https://www.layoutit.com/build<br />
  <div class="d-flex flex-column">
    <span class="bg-primary">Primary color</span>
    <span class="bg-secondary">Secondary color</span>
  </div>
</div>

<!--HEADER-->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">FORM DEMO</h1>
    </div>
  </div>
</section>

<form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">full name</label>
      <input
        #name="ngModel"
        name="name"
        id="inputName"
        type="text"
        class="form-control"
        placeholder="name"
        ngModel
        required
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input
        #email="ngModel"
        name="email"
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="Email"
        ngModel
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input
        name="password"
        ngModel
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input
      name="address"
      ngModel
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input
      name="address2"
      ngModel
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input
        name="city"
        ngModel
        type="text"
        class="form-control"
        id="inputCity"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select name="inputState" ngModel id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input
        name="inputZip"
        ngModel
        type="text"
        class="form-control"
        id="inputZip"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        name="gridCheck"
        ngModel
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
      />
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<p>First name value: {{ name.value }}</p>
<p>First name valid: {{ name.valid }}</p>
<p>email value: {{ email.value }}</p>
<p>email valid: {{ email.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
