<section class="container">

  <h1 class="header text-center p-3">Messages</h1>

  <!-- Message Cards -->
  <div *ngIf="true">
    <div *ngFor="let oneContactUs of ContactUs; index as i">

      <!-- Header -->
      <div class="card-header border-primary bg-grey"> {{ oneContactUs.createdAt }}
        <span><br>{{ oneContactUs.author.firstName }} {{ oneContactUs.author.lastName }}</span>
        <span><br>{{ oneContactUs.author.email }}</span>

        <!-- Body -->
        <div class="card-body">
          <strong>
            <h5 class="card-title">{{ oneContactUs.subject }}</h5>
            <p class="card-text border-primary">{{ oneContactUs.body }}</p>
          </strong>

          <!-- Delete button -->
          <div class="delete">
            <button (click)="deleteMessage(oneContactUs.id)" class="btn btn-primary btn-sm">Delete</button>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <button [routerLink]="['/admin']" class="btn btn-primary btn-sm">Return to Admin Dashboard</button>
    </div>
  </div>


</section>