.container {
    justify-content: center;
}
.one {
    border-right: solid 2px grey;
    border-bottom: solid 2px grey;
}

.two {
    border-bottom: solid 2px grey;
}

.three {
    border-bottom: solid 2px grey;
    border-left: solid 2px grey;
}

.four {
    border-right: solid 2px grey;
}

.five {
    border-right: solid 2px grey;
}
