<div class="wrapper">
  <header class="d-flex justify-content-center">
    <h2>Welcome {{ contributor.firstName }}!</h2>
  </header>

  <div class="row">
    <div class="col-lg-4">
      <div class="my-2">
        <h6 class="text-">Blog Post Settings</h6>
        <!-- <button
          [ngStyle]="contributor.style"
          [routerLink]="['/posts']"
          class="btn m-2"
        >
          View All Blog Posts
        </button> -->
        <button
          [ngStyle]="contributor.style"
          [routerLink]="['/post-list']"
          class="btn m-2"
        >
          Update or Delete a Blog Post
        </button>
        <button
          [ngStyle]="contributor.style"
          [routerLink]="['/post-add']"
          class="btn m-2 text-best-color"
        >
          Create a Blog Post
        </button>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="my-2">
        <h6>Contributor Profile Settings</h6>
        <button
          [ngStyle]="contributor.style"
          [routerLink]="['/contributor-profile', contributor.id]"
          class="btn m-2"
        >
          View My Profile
        </button>
        <!-- <button
          [ngStyle]="contributor.style"
          [routerLink]="['/contrib-edit']"
          class="btn m-2"
        >
          Update My Profile
        </button> -->
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-2">
        <h6>View and Manage Users</h6>
        <button
          [ngStyle]="contributor.style"
          [routerLink]="['/users-list']"
          class="btn m-2"
        >
          Manage Users
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-2">
        <h6>Contact Form Messages</h6>
        <button
          [ngStyle]="contributor.style"
          [routerLink]="['/user-submission-details']"
          class="btn m-2"
        >
          View Messages
        </button>
      </div>
    </div>
  </div>
</div>
