<!--TODO NEED TO CHANGE COLOR OF BUTTON TO THEME COLOR-->
<!--TODO fix anchor tag to route to blog dashboard and then...-->
<!--TODO ...remove blog dashboard component-->
<!--? Add other admin functions on this page? Edit individual contributor profiles, edit/delete user profiles, etc. -->
<header class="d-flex justify-content-center">
  <h2>Welcome [Insert Name Here]!</h2>
</header>
<div class="row">
  <div class="col-lg-4">
    <div class="my-2">
      <h6>Blog Post Settings</h6>
      <button [routerLink]="['/all']" class="btn">View All Blog Posts</button>
      <button [routerLink]="['/post-list']" class="btn">
        Update or Delete a Blog Post
      </button>
      <button [routerLink]="['/post-add']" class="btn">
        Create a Blog Post
      </button>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="my-2">
      <!--TODO These need to be fixed-->
      <h6>Contributor Profile Settings</h6>
      <button [routerLink]="['/contributers-profile']" class="btn">
        View Contributor Profile
      </button>
      <button [routerLink]="['/contributers-profile']" class="btn">
        Update Contributor Profile
      </button>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="my-2">
      <!-- TODO These need to be fixed-->
      <h6>User Profile Settings</h6>
      <button [routerLink]="['/blog-dashboard']" class="btn">
        Go to Blog Dashboard
      </button>
      <button [routerLink]="['/blog-dashboard']" class="btn">
        Go to Blog Dashboard
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 four">
    <button class="btn">Example</button>
    <button class="btn">Example</button>
  </div>
  <div class="col-lg-4 five">
    <button class="btn">Example</button>
    <button class="btn">Example</button>
  </div>
  <div class="col-lg-4 six">
    <button class="btn">Example</button>
    <button class="btn">Example</button>
  </div>
</div>
