@media (min-width: 992px) {
  @mixin border {
    border-width: 6px;
  }

  .row div:nth-child(2) {
    @include border();
    border-left-style: solid;
    border-right-style: solid;
  }

  .row:nth-child(3) {
    //idk why its 3 instead of 2
    @include border();
    border-top-style: solid;
    border-bottom-style: solid;
  }
}
