<!--TODO NEED TO CHANGE COLOR OF BUTTON TO THEME COLOR-->
<!--TODO fix anchor tag to route to blog dashboard and then...-->
<!--TODO ...remove blog dashboard component-->
<!--? Add other admin functions on this page? Edit individual contributor profiles, edit/delete user profiles, etc. -->
<div class="wrapper vh-100">
  <header class="d-flex justify-content-center">
    <h2>Welcome {{ this.contributor.name }}!</h2>
    <form #cheatForm="ngForm" (ngSubmit)="cheatInAdminId(cheatForm)">
      <input type="number" ngModel name="id" />
      <button type="submit">go!</button>
    </form>
  </header>
  <div class="row">
    <div class="col-lg-4">
      <div class="my-2">
        <h6 class="text-">Blog Post Settings</h6>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/all']"
          class="btn m-2 primary"
        >
          View All Blog Posts
        </button>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/post-list']"
          class="btn m-2"
        >
          Update or Delete a Blog Post
        </button>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/post-add']"
          class="btn m-2"
        >
          Create a Blog Post
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-2">
        <!--TODO These need to be fixed-->
        <h6>Contributor Profile Settings</h6>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/contributers-profile']"
          class="btn m-2"
        >
          View Contributor Profile
        </button>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/contributers-profile']"
          class="btn m-2"
        >
          Update Contributor Profile
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-2">
        <!-- TODO These need to be fixed-->
        <h6>User Profile Settings</h6>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/blog-dashboard']"
          class="btn m-2"
        >
          Go to Blog Dashboard
        </button>
        <button
          [ngStyle]="contributor.color"
          [routerLink]="['/blog-dashboard']"
          class="btn m-2"
        >
          Go to Blog Dashboard
        </button>
      </div>
    </div>
  </div>
</div>
