<body>
  <h1 class="header text-white text-center">Your Contributors</h1>
  <br />
  <div class="flex-grid-container">
    <div
      class="d-flex flex-sm-column flex-xs-column flex-md-row meet-contributors-container"
    >
      <div class="m-2" *ngFor="let contributor of contributors">
        <div class="card">
          <h2 [ngStyle]="contributor.style">
            {{ contributor.name }}
          </h2>
          <img class="w-25" src="{{ contributor.url }}" />
          <p *ngIf="contributor.bio != null">{{ contributor.bio.other }}</p>
          <a [routerLink]="['/contributor-profile', contributor.id]"
            ><button
              [ngStyle]="contributor.style"
              class="btn btn-primary d-block mx-auto"
            >
              More about {{ contributor.firstName }}
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</body>
