//BACKGROUND

body {
  background-image: url("../../../assets/images/1.jpg");
  background-size: cover;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

//CONTRIBUTOR PROFILE

//puts a frame around each contributor's picture & description
.card {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

//title of page
h2{
  text-align: center;//can use text-center
  padding: 10px;//can use p-1
}

//individual contributor's profile pictures
img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

//description for each contributor
p {
  padding-top: 10px;
  text-align: center;
}

//RESPONSIVENESS

.card {
  padding-bottom: 25px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}
