<!-- NAV BAR -->
<navbar></navbar>
<alerts></alerts>
<!-- ROUTER-OUTLET -->
<div class="container">
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="fixed-bottom w-100">
    <div class="footer">
      <a [routerLink]="'/contact-us'" class="submit">Submit a Blog Request</a>
    </div>

    <div class="social">
      <!-- recal inside directive string is ts so we string in a string -->
      <a [routerLink]="'/contact-us'" class="support">Contact Us</a>
      <!-- <a href="#" class="face">f</a> -->
      <a class="face" href="http://www.facebook.com/BoardKingsGame" target="_blank"><img class="socialImg" src="../assets/images/fb.png"></a>
      <a class="tweet" href="https://twitter.com/BoardGameGeek" target="_blank"><img class="socialImg" src="../assets/images/twitter.png"></a>
      <a class="linked" href="https://www.instagram.com/explore/tags/boardgames/?hl=en" target="_blank"><img class="socialImg" src="../assets/images/insta.png"></a>
    </div>
  </footer>
</div>

<!-- TO USE FOR THE FOOTER IF WE WANT ACTUAL SOCIAL MEDIA LOGOS -->
<!-- <div class="socialMedia">
  <a href="https://twitter.com/robinwiliiams_?lang=en">
      <img src="images/twitter.png"></a>
  <a href="https://www.facebook.com/Robin-Williams-1951-2014-1467215200198331/">
      <img src="images/fb.png"></a>
  <a href="https://www.instagram.com/therobinwilliams/?hl=en">
      <img src="images/insta.png"></a>
</div> -->
