<!-- NAV BAR -->
<navbar></navbar>

<!-- ROUTER-OUTLET -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
<footer>
    <div class="footer">
      <h3>Bored Blog</h3>
    </div>

    <div class="social">
      <a href="#" class="support">Contact Us</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>
    </div>
</footer>


<!-- TO USE FOR THE FOOTER IF WE WANT ACTUAL SOCIAL MEDIA LOGOS -->
<!-- <div class="socialMedia">
  <a href="https://twitter.com/robinwiliiams_?lang=en">
      <img src="images/twitter.png"></a>
  <a href="https://www.facebook.com/Robin-Williams-1951-2014-1467215200198331/">
      <img src="images/fb.png"></a>
  <a href="https://www.instagram.com/therobinwilliams/?hl=en">
      <img src="images/insta.png"></a>
</div> -->