<!-- NAV BAR -->
<navbar></navbar>
<alerts></alerts>
<!-- ROUTER-OUTLET -->
<div class="container">
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="fixed-bottom w-100">
    <div class="footer">

      <p>"When you're bored, play a board game!"</p>
      <!-- <a [routerLink]="'/contact-us'" class="submit">Submit a Blog Request</a> -->
    </div>

    <div class="social">
      <!-- recal inside directive string is ts so we string in a string -->
      <!-- <a [routerLink]="'/contact-us'" class="support">Contact Us</a> -->
      <!-- <a href="#" class="face">f</a> -->
      <a class="face" href="http://www.facebook.com/BoardKingsGame" target="_blank"><img class="socialImg" src="../assets/images/fb2.png"></a>
      <a class="tweet" href="https://twitter.com/BoardGameGeek" target="_blank"><img class="socialImg" src="../assets/images/twitter2.png"></a>
      <a class="linked" href="https://www.instagram.com/explore/tags/boardgames/?hl=en" target="_blank"><img class="socialImg" src="../assets/images/insta2.png"></a>
    </div>
  </footer>
</div>

