<h1>Sign In</h1>

<!-- Bootstrap Form -->
<form #signinForm="ngForm" (ngSubmit)="signin(signinForm)">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input id="userName" name="userName" ngModel type="text" class="form-control">  
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control">
    </div>
    <br>
   
   
    <button class="btn btn-primary">Sign In</button>
    





</form>


