<h1>Sign In</h1>

<!-- Bootstrap Form -->
<form>
    <div class="form-group">
        <label for="userName">User Name</label>
        <input id="userName" type="text" class="form-control">  
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control">
    </div>
    <br>
    <button class="btn btn-primary">Sign In</button>
    


<!-- Template Form

User Name: <input type="text" [(ngModel)]="Username">
Email: <input type="text" [(ngModel)]="Email">
Password: <input type="text" [(ngModel)]="Password">
<br>
<input type="button" (click)="signin()"> -->

</form>


<!-- <div id="bg"></div> -->
