<!-- <h2>Hello {{User.firstName}}</h2> -->

<!-- CONTAINER LAYOUT -->
<div class="container">
    <div class="row w-50 h-50 mx-auto">
        <div class="col">

            <!--HEADER-->
            <br>
            <h1 class="header text-white">User Profile</h1>
            <br>

            <!-- USER PROFILE INFO -->
            <div class="profile">
                <label for="firstName"><strong>First Name:</strong>
                    <!-- <p>{{user.firstName}}</p> -->
                </label>
                <br>
                <label for="lastName"><strong>Last Name:</strong>
                    <!-- <p>{{user.lastName}}</p> -->
                </label>
                <br>
                <label for="email"><strong>Email:</strong>
                    <!-- <p>{{user.email}}</p> -->
                </label>
            </div>
            <br>

            <!--BOOTSTRAP TEMPLATE-DRIVEN FORM-->
            <!-- FORM FOR USER TO CHANGE PASSWORD -->

            <!-- <form #changePasswordForm="ngForm" (ngSubmit)="userProfile(changePasswordForm)"> -->

                <!-- CURRENT PASSWORD -->
                <!-- <div class="form-group text-white">
                    <strong><label for="currentPassword">Current Password</label></strong>
                    <input required ngModel name="currentPassword" #currentPassword="ngModel" id="currentPassword"
                        type="password" class="form-control">
                    <div class="alert alert-danger" *ngIf="currentPassword.touched && !currentPassword.valid">
                        <div *ngIf="currentPassword.errors.required">Current Password is required</div>
                        <div *ngIf="currentPassword.errors.pattern">Incorrect Password</div>
                    </div>
                </div> -->

                <!-- NEW PASSWORD -->
                <!-- <div class="form-group text-white">
                    <strong><label for="password">New Password</label></strong>
                    <input required minlength="6" maxlength="20" ngModel name="password" #password="ngModel"
                        type="password" id="password" class="form-control">
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password must be between 6 - 20 characters</div>
                        <div *ngIf="password.errors.maxlength">Password must be between 6 - 20 characters</div> -->
                        <!-- <div *ngIf="password.errors.pattern">Password must not contain any spaces</div> -->
                    <!-- </div>
                </div> -->

                <!-- NEW PASSWORD CONFIRM -->
                <!-- <div class="form-group text-white">
                    <strong><label>Confirm New Password</label></strong>
                    <input required ngModel name="passwordConfirm" #passwordConfirm="ngModel" type="password"
                        id="passwordConfirm" class="form-control">
                    <div class="alert alert-danger" *ngIf="passwordConfirm.touched && !passwordConfirm.valid">
                        <div *ngIf="passwordConfirm.errors.required">Password confirm is required</div> -->
                        <!-- <div *ngIf="!this.passwordsMatch">Passwords do not match</div> -->
                    <!-- </div>
                </div> -->

                <!--SUBMIT BUTTON-->
                <!-- <div class="btn-toolbar">
                    <button class="btn btn-primary">Submit</button>
                </div> -->

            <!-- </form> -->

        </div>
    </div>
</div>