<!-- CONTAINER LAYOUT -->
<div class="container">
    <div class="row w-50 h-50 mx-auto">
        <div class="col">

            <!--HEADER-->
            <br>
            <h1 class="header text-white">User Profile</h1>
            <br>


<!-- TODO:  Also want user to be able to upload a profile photo -->


            <!-- USER PROFILE INFO -->
            <div class="profile">
                <label for="firstName"><strong>User Name:</strong>
                    <p>{{this.user.firstName}} {{this.user.lastName}}</p>
                </label>
                <br>
                <label for="email"><strong>Email:</strong>
                    <p>{{this.user.email}}</p>
                </label>
                <br>
                <label for="creaatedAt"><strong>User since:</strong>
                    <p>{{this.user.createdAt}}</p>
                </label>
                <br>
                <label for="lastLoggedIn"><strong>Last logged in:</strong>
                    <p>{{this.user.lastLoggedIn}}</p>
                </label>
            </div>
            <br>

        </div>
    </div>
</div>
