.container {
  background-image: url('../../../assets/images/board-game-bg-image1-v2.jpg');
  // background-image: linear-gradient(to top, rgba(160, 156, 105, 0.62), rgba(124, 181, 214, 0.43)),url('../../../assets/images/board-game-bg-image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  // position: absolute;
  // z-index: -1;
  // backdrop-filter: blur(60px);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

// .whatIs {
//   background-color: #ffffff;
//   backdrop-filter: blur(90px);
//   opacity: .4;
// }
whatIs p {
  font-weight: bold;
  color: black;
  backdrop-filter: blur(20px);
}

// .btn {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   box-shadow: 2px 3px 10px 2px rgba(131, 125, 125, 0.8);
// }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

.contributors {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(243, 243, 161));
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

button.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 5px 10px 2px rgba(66, 64, 64, 0.8);
}

.gameImg1 {
  width: 75%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}