<div class="container">

  <div class="row p-5 h-100 justify-content-around align-content-center">
      <!-- WHAT IS BORED BLOG -->
    <div class="col-7 whatIs">
      <h3 class="text-center">What is Bored Blog?</h3>
      <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua."</p>
    </div>

    <!-- GAME OF THE WEEK -->
    <div class="col-3">
      <h5 class="text-center">Game of the Week</h5>
      <!-- <img class="game2" src="../../../assets/images/2.jpg"> -->
      <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
        <br>
      <button class="btn btn-primary">Go to Game</button>
    </div>
  </div>
  
    <div class="row  justify-content-around align-content-center">
      <!-- FEATURED BLOG -->
      <div class="col-7">
        <h5 class="text-center">Most Current Blog Title & Date</h5>
        <p class="text-center">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt.
          <br>
          <br>
          Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incidunt ut labore et dolore
          magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
          nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
          aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
          qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
          illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          <br>
          <br>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt.
          <br>
          <br>
          Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incidunt ut labore et dolore
          magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
          nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
          aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
          qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
          illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          <br>
          <br>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt."</p>
        <button class="btn btn-primary">More posts by this Contributor</button>
        <button class="btn btn-primary">All Past Blog Posts</button>
      </div>
      <!-- CONTRIBUTORS -->
      <div class="col-3 contributors">
        <h3 class="text-center">Meet the Contributors</h3>
        <img src="https://ca.slack-edge.com/T9P33872P-UMB26EV6E-f1b15a101868-72" class="rounded-circle">
        <p class="text-center">Jacob Stanton</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UKW98R0NL-9b2d325d0d90-512" class="rounded-circle">
        <p class="text-center">Kayla Miller</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UMXPMHEAE-3b5c27f1c336-512" class="rounded-circle">
        <p class="text-center">Jackie Roberts</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UNCD1UH6K-6e8e43a4b2fd-512" class="rounded-circle">
        <p class="text-center">Kamyla Andrlik</p>
        <button class="profile btn btn-primary">Meet the Contributors</button>
      </div>
    </div>

  </div>



<!-- <div class="flex-grid-container">
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
        <img class="game" src="../../../assets/images/1.jpg" class="game">
      </div> -->


<!--WHAT IS BORED BLOG TEXT-->
<!-- <div class="col-sm-12 col-md-4 text-center mb-3 mb-md-0 border-right"> -->


<!--WHAT IS BORED BLOG TEXT-->
<!-- <div class="col-8">
      <img src="../../../assets/images/1.jpg">
      <h5>What is Bored Blog?</h5>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua."</p>
    </div> -->


<!--GAME OF THE WEEK and BUTTON-->

<!-- <div class="col-sm-12 col-md-4 text-center mb-3 mb-md-0">
          <h5 class="gameofweek">Game of the Week</h5>
          <img class="game2" src="../../../assets/images/2.jpg">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                  <button class="btn btn-primary">Go to Game</button>
      </div>
    </div>
  </div> -->


<!-- <br>
  <br>
  magic
  <br> -->
<!--FEATURED BLOG and CONTRIBUTORS-->
<!-- <div class="flex-grid-container">
    <div class="col-8">
      <h5>Most Current Blog Title & Date</h5>
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
      eos qui ratione voluptatem sequi nesciunt.
      <br>
      <br>
      Neque porro quisquam est,
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
      sed quia non numquam eius modi tempora incidunt ut labore et dolore
      magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
      qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
      illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      <br>
      <br>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
      eos qui ratione voluptatem sequi nesciunt.
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
      eos qui ratione voluptatem sequi nesciunt.
      <br>
      <br>
      Neque porro quisquam est,
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
      sed quia non numquam eius modi tempora incidunt ut labore et dolore
      magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
      qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
      illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      <br>
      <br>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
      eos qui ratione voluptatem sequi nesciunt."</p>
      <button class="btn btn-primary">More posts by this Contributor</button>
      <button class="btn btn-primary">All Past Blog Posts</button>
    </div> -->


<!--CONTRIBUTORS-->
<!-- <div class="col-sm-12 col-md-4 text-center mb-3 mb-md-0">
        <h5>Meet the Contributors</h5>
        <img src="https://ca.slack-edge.com/T9P33872P-UMB26EV6E-f1b15a101868-72">
        <p>Jacob Stanton</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UKW98R0NL-9b2d325d0d90-512">
        <p>Kayla Miller</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UMXPMHEAE-3b5c27f1c336-512">
        <p>Jackie Roberts</p>
        <br>
        <img src="https://ca.slack-edge.com/T9P33872P-UNCD1UH6K-6e8e43a4b2fd-512">
        <p>Kamyla Andrlik</p>
        <button class="profile btn btn-primary">Meet the Contributors</button>
      </div>
  
    </div>
  </div> -->