<!-- LINK TO FONT FOR BORED BLOG TITLE -->
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<!-- PRIMARY CONTAINER -->
<div class="container">

  <!-- BORED BLOG TITLE -->
  <div class="title text-center w-100">
    <p>Bored Blog</p>
  </div>

  <!-- WHAT IS BORED BLOG SECTION -->
  <div class="row h-100 justify-content-around">
    <div class="col-7 whatIs">
      <h3 class="text-center">What is Bored Blog?</h3>
      <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua."</p>
      <div>
        <img class="gameImg1" src="assets/images/board-game-bg-image1.jpg">
      </div>
    </div>

    <!-- GAME OF THE WEEK SECTION -->

    <div class="col-3 p-3 gameOfWeek">
      <h1 class="text-center pt-4">Game of the Week</h1>
      <div class="text-center">
        <br>
        <h5 class="font-italic">The Royal Game of Ur</h5>
        <div>
          <a href="https://en.wikipedia.org/wiki/Royal_Game_of_Ur" target="_blank">
          <img class="gameImg2" src="assets/images/gameOfUr.jpg">
        </a>
        </div>
        <p class="pt-4">Discovered to be the oldest game of all time!</p>

      </div>
      <button class="btn btn-primary"
        onclick="window.open('https://en.wikipedia.org/wiki/Royal_Game_of_Ur', '_blank')">Find Out More</button>
    </div>
  </div>
  <br>
  <div class="row h-100 justify-content-around align-content-center">


    <!-- FEATURED BLOG SECTION -->
    <div class="col-7">

      <div class="text-center currentBlog" *ngFor="let Post of posts">

        <!-- Display the most current Blog Post by id (SELECTED BY createdDate) -->
        <h1 class="blogTitle font-italic"><strong>{{ Post.title }}</strong></h1>

        <strong>Contributed by: {{ Post.author.firstName }} {{ Post.author.lastName }} </strong>
        <br>
        <!-- <strong>Post Date: {{Post.createdAt }}</strong> HOW CAN WE ADD THIS TIMESTAMP TO SHOW WITH THE POSTS?? -->
        <br>
        <p class="text-center">{{ Post.body }}</p>
      </div>

      <!-- THIS HARD-CODED TEXT WILL BE REMOVED AFTER THE ngFor LOOP IS WORKING FOR THE {{Post.body}} -->

      <!-- <p class="text-center">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
        <br>
        <br>
        Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        <br></p> -->

<!-- BUTTONS UNDERNEATH CURRENT BLOG POST -->
      <div class="d-flex pb-4">
        <button [routerLink]='["/contributor-profile"]' class="btn btn-primary">More posts by this Contributor</button>
        <button [routerLink]='["/all"]' class="btn btn-primary">All Past Blog Posts</button>
      </div>
    </div>

    <!-- CONTRIBUTORS SECTION -->

    <div class="col-3 p-3 contributors">
      <h3 class="text-center pt-4">Meet the Contributors</h3>
      <div *ngFor="let contributor of contributors;">
        <a [routerLink]='["/contributor-profile/",contributor.id]'>
          <img src="{{contributor.url}}" class="rounded-circle" href="http://localhost:4200/contributor-profile">
        </a>
        <a [routerLink]='["/contributor-profile/",contributor.id]'>
          <h6 class="text-center p-4">{{contributor.name}}</h6>
        </a>
        <br>
      </div>
      <button [routerLink]='["/contributor"]' class="btn btn-primary">Meet the Contributors</button>
    </div>
  </div>

<!-- END OF PRIMARY CONTAINER -->
</div>
