<!-- LINK TO FONT FOR BORED BLOG TITLE -->
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<!-- PRIMARY CONTAINER -->
<div class="container py-2">

<!-- BORED BLOG TITLE -->
  <div class="title text-center w-100">
    <p>Bored Blog</p>
  </div>

<!-- WHAT IS BORED BLOG SECTION -->
  <div class="row p-10 h-100 justify-content-around">
    <div class="col-7 whatIs">
      <h3 class="text-center">What is Bored Blog?</h3>
      <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua."</p>
      <div>
        <img class="gameImg1" src="assets/images/board-game-bg-image1.jpg">
      </div>
    </div>

<!-- GAME OF THE WEEK SECTION -->
    <div class="col-3 p-3 gameOfWeek">
      <h1 class="text-center pt-4">Game of the Week</h1>
      <div class="text-center">
        <br>
        <h5 class="font-italic">The Royal Game of Ur</h5>
        <div>
          <img class="gameImg1 p-3" src="assets/images/gameOfUr.jpg">
        </div>
        <p class="pt-4">Discovered to be the oldest game of all time!</p>

      </div>
      <button class="btn btn-primary"
        onclick="window.location.href = 'https://en.wikipedia.org/wiki/Royal_Game_of_Ur';">Find Out More</button>
    </div>
  </div>
  <br>
  <div class="row h-100 justify-content-around align-content-center">

<!-- FEATURED BLOG SECTION -->
    <div class="col-7">
      <h3 class="text-center pb-2 currentBlog">Most Current Blog Title & Date</h3>
      <p class="text-center">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
        <br>
        <br>
        Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        <br>
        <br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
        <br>
        <br>
        Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        <br>
        <br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt."</p>
      <div class="d-flex pb-4">
        <button class="btn btn-primary">More posts by this Contributor</button>
        <button class="btn btn-primary">All Past Blog Posts</button>
      </div>
    </div>

<!-- CONTRIBUTORS SECTION -->
    <!-- TODO:make this a for loop-->
    <div class="col-3 contributors p-5">
      <h3 class="text-center pb-4">Meet the Contributors</h3>
      <img src="https://ca.slack-edge.com/T9P33872P-UMB26EV6E-f1b15a101868-72" class="rounded-circle">
      <h6 class="text-center p-2">Jacob Stanton</h6>
      <br>
      <img src="https://ca.slack-edge.com/T9P33872P-UKW98R0NL-9b2d325d0d90-512" class="rounded-circle">
      <h6 class="text-center p-2">Kayla Miller</h6>
      <br>
      <img src="https://ca.slack-edge.com/T9P33872P-UMXPMHEAE-3b5c27f1c336-512" class="rounded-circle">
      <h6 class="text-center p-2">Jackie Roberts</h6>
      <br>
      <img src="https://ca.slack-edge.com/T9P33872P-UNCD1UH6K-6e8e43a4b2fd-512" class="rounded-circle">
      <h6 class="text-center p-4">Kamyla Andrlik</h6>
      <button [routerLink]='["/contributor"]' class="btn btn-primary">Meet the Contributors</button>
    </div>
  </div>
  
<!-- END OF PRIMARY CONTAINER -->
</div>