* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightyellow;
}

/*-----HEADER------*/

h1 {
  display: flex;
  justify-content: center;
  color: green;
  padding: 10px 20px;
}

/*-----SECTIONS OF FORM------*/

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.row {
  display: flex;
  justify-content: center;
}

/*-----TITLE FOR EACH TEXT BOX------*/


/*-----INPUT FOR EACH TEXT BOXES------*/




/*


  */
/*-----BUTTON------*/

.btn{
  background-color: blue;
}




