<section>
  <h1>Registered Users</h1>

  <div *ngIf="true" class="container row h-100 justify-content-center">
    <div class="Users" *ngFor="let User of usersList; index as i">

      <h5 class="userName">{{ User.firstName }} {{ User.lastName }}</h5>
      
        <p class="email"><strong> Email: </strong>{{ User.email }} </p>
      
        <p class="lastActive"><strong> User Since: </strong>{{ User.createdAt }}</p>
      
        <p class="lastActive"><strong> Last Active: </strong>{{ User.lastLoggedIn }}</p>
      
      <div class="d-flex justify-content-end">
        <button (click)="deleteUser(User.id)" class="btn btn-accent btn-sm"> Delete</button>
      </div>
</div>
    </div>
    <div class="d-flex justify-content-center">
      <button [routerLink]="['/admin']" class="btn btn-primary btn-sm">Return to Admin Dashboard</button>
    </div>
  
</section>