//Background of page
section {
  background-image: url("../../../../assets/images/1.jpg");
  background-size: cover;
  padding-bottom: 100px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

//Background of blog title, author, and body
.Post {
  background-color: whitesmoke;
  opacity: 0.8;
  padding: 20px;
}

//Title of blog post
h3 {
  text-align: center;
}

//Return to all blog posts button
.helpBtn {
  // display: inline-block;
  margin-right: 10px;
  margin-top: 7px;
  // box-shadow: 4px 5px 10px 2px rgba(66, 64, 64, 0.8);
}

.form-group {
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.comments {
  background-color: whitesmoke;
  opacity: 0.8;
  padding-left: 20px;
  padding-bottom: 20px;
}

.submit {
  margin-top: 7px;
}

.submitMsg {
  display: inline-flex;
}

.msg {
  margin-top: 15px;
}
