<!-- Header for the page -->
<section id="header">
    <!-- Create profile Picture-->
    <div id="profilePicture">
        <img src="https://ca.slack-edge.com/T9P33872P-UKW98R0NL-9b2d325d0d90-48">
    </div>
    <!--Display Name of contributer -->
    <h3>{{contributor.firstName}} {{contributor.lastName}}</h3>

</section>
<section>

    <!-- Tab Links-->
    <!-- TODO: think aboot animations and animating these changes for a butter experince -->
    <div class="tab d-flex w-100 justify-content-center">
        <button class="tablinks" (click)="setSelector(1)">About</button>
        <button class="tablinks" (click)="setSelector(2)">Recent Posts</button>
    </div>

    <!-- Tab Content (ABOUT)-->
    <div id="about" [ngClass]="{'d-none':this.selector != 1}" class="tabcontent text-center">
        <p> Birthday: {{contributor.bio.birthday}}</p>
        <ul>Favorite Games:
            <!--TODO would love to have these as links to blogs on said games-->
            <li>{{contributor.bio.favoriteGames.game1}}</li>
            <li>{{contributor.bio.favoriteGames.game2}}</li>
            <li>{{contributor.bio.favoriteGames.game3}}</li>
        </ul>
        {{contributor.bio.other}}
    </div>
    <!-- Tab Content (POSTS)-->
    <div id="recentPosts" [ngClass]="{'d-none':this.selector != 2}" class="tabcontent">
        <!-- Create the recent posts template-->
        <div id="postContainer">
            <div class="post" *ngFor="let Post of Posts">
                <h2 class="postTitle">{{Post.postTitle}}</h2>
                <div class="tagsGames">
                    <img class="tagIcon" src="../../../assets/images/tag.png" />
                    <p> Tags: {{Post.postTags}}</p>
                    <p class="relGames"> Related Game(s): {{Post.postGames}}</p>
                </div>
                <p class="postBody">{{Post.postBody}}</p>
                <a [routerLink]='["all-post:id"]'>View Full Post</a>
                <hr>
            </div>
        </div>
    </div>
</section>