<!-- Header for the page -->
<section id="header">
    <!-- Create profile Picture-->
    <div id="profilePicture">
        <img src="https://ca.slack-edge.com/T9P33872P-UKW98R0NL-9b2d325d0d90-48">
    </div>
    <!--Display Name of contributer -->
    <h3>{{contributor.firstName}} {{contributor.lastName}}</h3>
    
</section>
<section>
    
    <!-- Tab Links-->
    <div class="tab">
        <button class="tablinks" onclick="">About</button>
        <button class="tablinks" onclick="">Recent Posts</button>
    </div>
    
    <!-- Tab Content (ABOUT)-->
    <div id="about" class="tabcontent">
        <h3>About</h3>
        <p>{{contributor.bio}}</p>
    </div>
    <!-- Tab Content (POSTS)-->
    <div id="recentPosts" class="tabcontent">
        <h3>Recent Posts</h3>
        <!-- Create the recent posts template-->
            <div id="postContainer"> 
                <div class="post" *ngFor="let Post of Posts">
                <h2>{{Post.postTitle}}</h2>
                <hr>
                <p>{{Post.postBody}}</p>
                </div>
            </div>
    </div>
</section>
