 <!-- Importing font style for contributor name-->
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
        </style>
</head>

 <!-- Contributor name-->

<body class="flex-grid-container">
  <div class="coverPage" [ngStyle]="contributor.color">
    <h1 class="coverTitle">{{contributor.firstName}} {{contributor.lastName}}</h1>
  </div>

 <!-- Contributor profile picture-->

<div>
<section id="body" class="card d-flex col-md-6 col-sm-4 justify-content-center">
    <div id="profilePicture">
        <img id="profPic" class="img-thumbnail d-block mx-auto" src="{{contributor.url}}" />
      </div>

  <!-- Tab Links-->

  <div class="card tab d-flex w-100 justify-content-center text-danger">
    <button [ngStyle]="contributor.color" class="tabOptions" (click)="setSelector(1)">{{contributor.firstName}}'s Bio</button>
    <button [ngStyle]="contributor.color" class="tabOptions" (click)="setSelector(2)">{{contributor.firstName}}'s Recent Posts</button>
  </div>
<br />

  <!-- Tab Content (ABOUT)-->
  <div
    id="about"
    [ngClass]="{ 'd-none': this.selector != 1 }"
    class="tabcontent text-center"
  >
    <p><span>Birthday:</span> {{ contributor.bio.birthday }}</p>
    <ul>
      <span>Favorite Bored Games:</span>
      <!--TODO would love to have these as links to blogs on said games-->
      <li *ngFor="let game of games">
        <a href="#">{{ contributor.bio.favoriteGames }}</a>
      </li>
    </ul>
    <p><strong>Fun Fact about Me: </strong>{{contributor.bio.other}} </p>
    <br>
    <p>To see {{contributor.firstName}}'s other work, please use these links:
      <br />
      <a href={{contributor.bio.otherWorks.github}} target="blank">Github</a> |
      <a href={{contributor.bio.otherWorks.website}} target="blank">Personal Website</a> |
      <a href={{contributor.bio.otherWorks.linkedIn}} target="blank">LinkedIn</a></p>
  </div>

  <br />

  <!-- Tab Content (POSTS)-->

  <div
    id="recentPosts"
    [ngClass]="{ 'd-none': this.selector != 2 }"
    class="tabcontent"
  >

    <!-- Create the recent posts template-->
    <div id="postContainer">
      <div class="post" *ngFor="let Post of posts">
        <h2 class="postTitle">{{Post.title}}</h2>
        <div class="tagsGames">
          <img class="tagIcon" src="../../../assets/images/tag.png" />

          <img class="tagIcon" src="../../../assets/images/dice & pieces.jpg" />
          <!-- <p class="relGames"> Related Game(s): {{Post.games}}</p> -->
        </div>
        <p class="postBody">{{Post.body}}</p>
        <a [routerLink]='["post-detail", Post.id]'>View Full Post</a>
        <hr>
      </div>
    </div>
  </div>
</section>

</div>
</body>


<!-- TODO: need contributor:id route for front and backend -->
