/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid black;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
/* Change background color of buttons on hover */
/* Create an active/current tablink class */
/* Style the tab content */