// Add padding on profile picture so it doesn't "scrub" the top
#profilePicture {
    padding-top: 5px;
    border: 2px dotted red;
    border-color: gold;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 10px;
    overflow: hidden;
    width: 100px;
}
// Style the tab
.tab {
    overflow: hidden;
    width: 190px;
    color: red;
}
// Style the tabs
.tabOptions {
    color: black;
    background-color: red;
    border-radius: 20px;
}
// Style the tags and related games
.tagsGames {
    float: right;
    padding-left: 10px;
}

// Style the icon of a tag
.tagIcon {
    width: 20px;
    height: 20px;
    float: left;
}

// Style the header
#header{
    text-align: center;
}

// Format the title and body of posts
.postTitle .postBody{
    float: left;
    text-align: left;
}

// style the favorite games list
li {
    list-style-type: none;
}
span {
    font-weight: bold;
}