/* BACKGROUND IMAGE OF ENTIRE PAGE */

body {
  background-image: url('../../../assets/images/game1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}

/* TOP OF PAGE WITH CONTRIBUTOR'S NAME */

//background
.coverPage{
  opacity: 0.8;
  padding-bottom: 25px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}
//text
.coverTitle{
  text-align: end;
  font-size: 50px;
  font-family: 'Notable', sans-serif;;
  text-align: end;
  margin-right: 20px;
}

/* CONTRIBUTOR'S PROFILE PICTURE */

// image itself
#profilePicture {
  padding: 25px;
    img {
        width: 250px;
        height: 250px;
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
        border-style: outset;
        max-width: 100%;
      }
}

/* CONTRIBUTOR'S BIO AND RECENT BLOG POSTS */

//background
#body {
  background-color: whitesmoke;
  opacity: 0.75;
  margin: auto;
  width: 50%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px 70px;
}

// styles the tab that goes between bio and recent blogs
.tab {
    overflow: hidden;
    width: 190px;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

// Style the button tabs

button {
  //TODO Center the buttons - but how??
}

.tabOptions {
    color: black;
    background-color: red;
    border-radius: 20px;
}

// formats the title and body of recent blog posts
.postTitle .postBody{
    float: left;
    text-align: left;
}

// style the favorite games list
li {
    list-style-type: none;
}

//makes text bold
span {
    font-weight: bold;
}

//tag icon
.tagIcon{
  width: 10%;
  height: 20%;
}

.tagIcon2{
  width: 50%;
  height: 50%;
}

