<!-- <h3>Post Add Component</h3>
Title: <input [(ngModel)]="editPost.title">
<br>
Text: <input [(ngModel)]="editPost.body">
<br>
<button (click)="savePost()">Add Post</button>
-->


<form #f="ngForm" (ngSubmit)="savePost(f)">
    <div>
        <label for="Title">
            Title
        </label>
        <input id="Title" type="text" name="Title" required [(ngModel)]="editPost.Title">
    </div>
    <div>
        <label for="Body">
            Body
        </label>
        <textarea id="Body" type="text" name="Body" [(ngModel)]="editPost.Body">{{editPost.Body}}</textarea>
    </div>
    <button class="button" type="submit">Edit post</button>
</form>