//Background styling
.container {
  background-image: url('../../../../assets/images/green-yellow-smoke.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  padding-bottom: 100px;
}

// Cancel changes button
.buttons {
  margin-right: auto;
  margin-top: 10px;
}
