<!--THIS COMPONENT IS WHERE ADMINS CAN EDIT A BLOG POST-->
<div class="container">
<form #f="ngForm" (ngSubmit)="savePost(f)">
    <div>
        <label for="Title">
          <strong>
            Title
          </strong>
        </label>
        <input class="form-control col-4" id="Title" type="text" #title='ngModel' name="title" required [(ngModel)]="editPost.title">
    </div>
    <div>
      <label for="authorId">
        <strong>
          Author
        </strong>
      </label>
      <select class="form-control col-4" id="authorId" #authorId="ngModel" name="authorId" required [(ngModel)]="editPost.authorId">
        <option *ngFor="let contrib of contributors" [value]="contrib.id">{{contrib.firstName}} {{contrib.lastName}}</option>
      </select>
      
  </div>
    <div>
        <label for="Body">
          <strong>
            Body
          </strong>
        </label>
        <textarea class="form-control" cols="100" rows="10" id="Body" type="text" #body='ngModel' name="body" [(ngModel)]="editPost.body">{{editPost.body}}</textarea>
    </div>
    <button class="button btn-primary" type="submit">Save Changes</button>
</form>
<button [routerLink]="['/post-list']" class="btn btn-danger">Cancel Changes</button>
</div>
