<!--THIS COMPONENT IS WHERE ADMINS CAN EDIT A BLOG POST-->

<form #f="ngForm" (ngSubmit)="savePost(f)">
    <div>
        <label for="Title">
          <strong>
            Title
          </strong>
        </label>
        <input class="form-control col-4" id="Title" type="text" name="Title" required [(ngModel)]="editPost.Title">
    </div>
    <div>
        <label for="Body">
          <strong>
            Body
          </strong>
        </label>
        <textarea class="form-control" cols="100" rows="10" id="Body" type="text" name="Body" [(ngModel)]="editPost.Body">{{editPost.Body}}</textarea>
    </div>
    <button class="button btn-secondary" type="submit">Save Changes</button>
</form>
