/* You can add global styles to this file, and also import other style files */

//bootstrap themeing
$theme-colors: (
  primary: #006eff,
  secondary: #30c230,
  danger: red,
  accent: yellow,
);

$enable-shadows: true;
//end boot theming

// color function set so we don't have to use "map-get($colors, primary);" --> instead use "color(primary)"
@function color($color-name) {
  @return map-get($theme-colors, $color-name);
}

body {
  padding-top: 55px;
  padding-bottom: 50px; //bottom of home page
}

button.btn {
  display: block;
  margin-left: 0;
  margin-right: 15px;
  box-shadow: 4px 5px 10px 2px rgba(66, 64, 64, 0.8);
}

#navbarDropdown {
  display: block;
  margin-left: 0;
  margin-right: 15px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

footer {
  width: 100%;
  display: inline-block;
  margin: 0;
  height: 35px;
  background-color: color(accent);
  position: fixed;

  .footer {
    width: 50%;
    float: left;

    // @media (max-width: 600px) {
    //   width: 100%;
    // }
    .submit {
      padding-left: 10%;
      color: black;
      font-size: 0.8em;
      font-weight: bold;
      line-height: 35px;
      text-transform: capitalize;
      letter-spacing: 1px;
      // text-decoration: none;
      //   @media (max-width: 600px) {
      //     text-align: center;
      //     padding: 0;
      //   }
    }
  }

  .social {
    width: 25%;
    float: right;

    // @media (max-width: 600px) {
    //   width: 100%;
    // }
    a {
      float: left;
      line-height: 35px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
      //   @include transition(all, 0.3s);
      //    &:hover {
      //      background-color: #222;
      //      @include transition(all, .3s);
      //    }
    }
  }
}

.face {
  background-color: color(danger);
  font-size: 1.2em;
  width: 25%;
  height: 50%;
}

.tweet {
  background-color: color(primary);
  font-size: 1.2em;
  width: 25%;
}

.linked {
  background-color: color(secondary);
  font-size: 1.2em;
  width: 25%;
}
.socialImg {
  width: 30%;
  height: 30%;
}
// .support {
//   background-color: color(primary);
//   font-size: 0.8em;
//   width: 40%;
// }

//Jacob Stanton:
//this is import goes at the bottom it needs have its variables overidden
@import "~bootstrap/scss/bootstrap";

