<!--THIS COMPONENT IS WHERE ADMINS CAN ADD A NEW BLOG POST-->
<div class="container">
  <h1 text-center p-20>Create a New Blog Post</h1>
  <div class="form-group w-50 mx-auto">
    <form (ngSubmit)="addPost()">
      <div>
        <label for="title">
          <strong>
            Title
          </strong>
        </label>
        <input class="form-control" id="title" type="text" name="title" required [(ngModel)]="newPost.title">
      </div>

      <!-- <div>
        <label for="author">
          <strong>Author</strong>
        </label>
        <input class="form-control col-4" id="author" type="text" name="author" required [(ngModel)]="newPost.author">
      </div> -->

      <div>
        <label for="body"><strong>Body</strong></label>
        <textarea class="form-control" id="body" cols="100" rows="10" type="text" name="body"
          [(ngModel)]="newPost.body">
      </textarea>
      </div>
      <br></form>
      <div d-flex>
        <button class="btn btn-primary btn-sm" (click)="addPost()">Add Post</button>
    
    <button [routerLink]="['/admin']" class="btn btn-primary btn-sm">Return to Admin Dashboard</button>
  </div>
</div>